@model IEnumerable<IceTaskOne_CLVDA.Models.Login.LoginReg>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tempUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TempPass)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TempConfPass)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tempUser)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TempPass)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TempConfPass)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.userId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.userId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.userId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
